<%- contentFor('CSS') %>

<%- contentFor('CONTENT') %>

<div class='container'>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Time</th>
                <th scope="col">Posição</th>
            </tr>
        </thead>

        <tbody>
            <% if(jogadores) { %>

                <% jogadores.forEach((jogador) => { %>
                    <tr>
                        <th scope="row">1</th>
                        <td><%= jogador.nome %></td>
                        <td><%= jogador.time.nome %></td>
                        <td><%= jogador.posicao.nome %></td>
                    </tr>
                <% }) %>
            
            <% } %>
        </tbody>
    </table>

</div>

<%- contentFor('SCRIPTS') %>